
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  /*color: white;*/
}

.spacer {
  flex: 1 1 auto;
}


#cart .fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:-10%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius: 0%;
  line-height:.8em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  font-weight:bold;
}
