<div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
<form [formGroup]="form" (ngSubmit)="onSaveProduct()">
    <div class="form-group">
      <label for="productSku">Product SKU</label>
      <input type="text" class="form-control" id="productSku" formControlName="productSku" aria-describedby="productSkuHelp" placeholder="Enter SKU">
      <small
        *ngIf="!form.get('productSku').valid && form.get('productSku').touched"
        id="productSkuHelp" class="form-text text-muted">please fill SKU at 13 characters</small>
    </div>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" class="form-control" id="productName" formControlName="productName" aria-describedby="productNameHelp" placeholder="Fill the product Name here">
      <small
      *ngIf="!form.get('productName').valid && form.get('productName').touched"
      id="productNameHelp" class="form-text text-muted">please fill Product Name</small>
    </div>
    <div class="form-group">
      <label for="productDetails">Product Details</label>
      <input type="text" class="form-control" id="productDetails" formControlName="productDetails" aria-describedby="productDetailsHelp" placeholder="Enter Product Detail">
      <small
        *ngIf="!form.get('productDetails').valid && form.get('productDetails').touched"
        id="productDetailsHelp" class="form-text text-muted">please fill Product Details at least 3 characters</small>
    </div>
    <div class="form-group">
      <label for="productCategory">Product Category</label>
      <input type="text" class="form-control" id="productCategory" formControlName="productCategory" aria-describedby="productCategoryHelp" placeholder="Fill the Category here">
      <small
      *ngIf="!form.get('productCategory').valid && form.get('productCategory').touched"
      id="productCategoryHelp" class="form-text text-muted">please fill Category Content</small>
    </div>
    <div class="custom-file" id="customFile" lang="th">
        <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp" (change)="onImagePicked($event)">
        <label class="custom-file-label" for="exampleInputFile">
           เลือกไฟล์...
        </label>

    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img class="img-thumbnail" [src]="imagePreview" [alt]="form.value.title">
      </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid?'disabled':''">Submit</button>
    </div>
  </form>
