  <div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
  <div *ngIf="!isLoading">
    <div class="row mt-1" *ngFor="let product of products" >
      <div class="col-12">
          <div class="card round-0">
            <div class="card-header" data-toggle="collapse" [attr.data-target]="'#p-'+product.id" aria-expanded="false" [attr.aria-controls]="product.id">
              {{ product.productSku }}
            </div>
            <ul class="list-group list-group-flush collapse" [id]="'p-'+product.id">
              <li class="list-group-item">
                <div class="row">
                    <div class="col-12"> {{ product.productName }} </div>
                </div>
                <div class="product-image">
                  <img [src]="product.imagePath" [alt]="product.title" class="img-thumbnail">
                </div>
                <div class="row mt-3" *ngIf="userIsAuthenticated && userId == product.creator">
                  <div class="col-12">
                      <a class="btn btn-sm btn-primary mr-1" [routerLink]="['edit', product.id]" routerLinkActive="router-link-active">EDIT</a>
                      <button class="btn btn-sm btn-warning"  (click)="onDelete(product.id)">DELETE</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalProducts" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="products.length > 0"></mat-paginator>
  <div class="row" *ngIf="products.length <= 0 && !isLoading">
    <div class="col"><div class="text-center alert-warning mt-1 pt-5 pb-5">ไม่มีรายการสินค้าในระบบ</div></div>
  </div>



