  <div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>

  <!-- <div> This is edit mode for stock manager </div> -->
  <div *ngIf="!isLoading">
    <div class="row mt-1" *ngFor="let product of products" >
      <div class="col-12">
          <div class="card round-0">
            <div class="card-header">
              <div *ngIf="!(userType === 'Storage Manager' || userType == 'DH Staff')">
                  <div class="col-sm-5" id="product-name" data-toggle="collapse" [attr.data-target]="'#p-'+product.id" aria-expanded="false" [attr.aria-controls]="product.id">{{ product.productName }}</div>
              </div>
              <div class="row" *ngIf="(userType === 'Storage Manager' || userType == 'DH Staff')">
                    <div class="col-sm-2">{{ product.productSku }}</div>
                    <div class="col-sm-5" id="product-name" data-toggle="collapse" [attr.data-target]="'#p-'+product.id" aria-expanded="false" [attr.aria-controls]="product.id">{{ product.productName }}</div>
                    <div class="col-sm-3"><input type="number" class="form-control" name="quantity" #quantityItem min="1" step="1" value="1"></div>
                    <div class="col-sm-2"><button class="btn btn-sm btn-primary mr-1 pl-2 pr-2" (click)="onAddToTransaction(product.id, quantityItem.value, product)">Add</button></div>

              </div>
            </div>
            <ul class="list-group list-group-flush collapse" [id]="'p-'+product.id">
              <li class="list-group-item">
                <div class="row">
                    <div class="col-12"> {{ product.content }} </div>
                </div>
                <div class="product-image">
                  <img [src]="product.imagePath" [alt]="product.title" class="img-thumbnail">
                </div>
                <div class="row mt-3" *ngIf="userIsAuthenticated && userId == product.creator">
                  <div class="col-12">
                      <a class="btn btn-sm btn-primary mr-1" [routerLink]="['edit', product.id]" routerLinkActive="router-link-active">EDIT</a>
                      <button class="btn btn-sm btn-warning"  (click)="onDelete(product.id)">DELETE</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <mat-paginator
  [length]="totalProducts"
  [pageSize]="productsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="products.length > 0 && (userType === 'Storage Manager' || userType == 'DH Staff')">
  </mat-paginator>
  <div class="row" *ngIf="products.length <= 0 && !isLoading">
    <div class="col"><div class="text-center alert-warning mt-1 pt-5 pb-5">ไม่มีรายการสินค้าในระบบ</div></div>
  </div>



