<div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
<form [formGroup]="form" (ngSubmit)="onSaveTransaction()">

    <div class="form-group" *ngIf="mode === 'edit'">
        <label for="permission">วันที่</label>
        <input type="date" formControlName="dateTime" id="dateTime" class="form-control" [attr.disabled]="true">
    </div>
    <mat-form-field>
      <mat-select formControlName="destinationStoreId" placeholder="เลือกสาขาปลายทาง" [attr.noEntriesFoundLabel]="'no matching bank found'" #singleSelect>
        <mat-option>
          <ngx-mat-select-search formControlName="storeFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of filteredStores | async" [value]="item.id">
          {{item.storeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="transportorId" placeholder="กำหนดพนักงานขับรถ" [attr.noEntriesFoundLabel]="'no matching bank found'" #singleSelect>
        <mat-option>
          <ngx-mat-select-search formControlName="transportorFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of filteredTransportors | async" [value]="item.id">
          {{item.content}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="receiverId" placeholder="กำหนดสต๊าฟผู้รับสินค้า" [attr.noEntriesFoundLabel]="'no matching bank found'" #singleSelect>
        <mat-option>
          <ngx-mat-select-search formControlName="staffFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let item of filteredStaffs | async" [value]="item.id">
          {{item.content}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-product-search></app-product-search>
    <app-product-item></app-product-item>
    <hr class="mt-3 mb-3">
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid || (productCounters <= 0)?'disabled':''">Submit</button>
    </div>
  </form>

