<div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
<form [formGroup]="form" (ngSubmit)="onSaveTransaction()">
    <div class="form-group">
      <label for="remark">ข้อมูลการส่งสินค้า</label>
      <input type="text" class="form-control" id="remark" formControlName="remark" aria-describedby="remarkHelp" placeholder="กรอกข้อมูลเกี่ยวกับการส่งสินค้า">
      <small
      *ngIf="!form.get('remark').valid && form.get('remark').touched"
      id="remarkHelp" class="form-text text-muted">please fill Transaction Name</small>
    </div>
    <div class="form-group">
      <label for="permission">สาขาของผู้ส่ง:</label>
      <select formControlName="departureStoreId" id="departureStoreId" name="departureStoreId" class="form-control">
        <option *ngFor="let item of allStoreLists" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="permission">สาขาของผู้รับ:</label>
        <select formControlName="destinationStoreId" id="destinationStoreId" name="destinationStoreId" class="form-control">
          <option *ngFor="let item of allStoreLists" [value]="item">{{item}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="permission">คนขับรถส่งของ:</label>
        <select formControlName="transportorId" id="transportorId" name="transportorId" class="form-control">
          <option *ngFor="let item of allTransportorLists" [value]="item">{{item}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="permission">ผู้รับสินค้า:</label>
        <select formControlName="dhStaffId" id="dhStaffId" name="dhStaffId" class="form-control">
          <option *ngFor="let item of allDhStaffLists" [value]="item">{{item}}</option>
        </select>
    </div>
    <input type="hidden" id="transactionStatus" formControlName="transactionStatus" value="">
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid?'disabled':''">Submit</button>
    </div>
  </form>
