  <div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
  <div *ngIf="!isLoading">
    <div class="row mt-1" *ngFor="let transaction of transactions; let i = index;">
      <div class="col-12" *ngIf="userId === transaction.senderId || userType === 'Transportor' || userType == 'DH Staff'">
            <div class="card round-0">
                <div class="card-header" data-toggle="collapse" [attr.data-target]="'#p-'+transaction.id" aria-expanded="false" [attr.aria-controls]="transaction.id">

                  <div class="row">
                    <div class="col-3">
                        ขนส่งจาก {{ transaction.departureStoreId }}
                    </div>
                    <div class="col-3">
                        ไปยังสาขา {{ transaction.destinationStoreId }}
                    </div>
                    <div class="col-3">
                        <button class="btn btn-sm btn-outline-normal" disabled="disabled" *ngIf="userIsAuthenticated && userId === transaction.senderId && transaction.transactionStatus === 'Created'">รอการตรวจสอบ</button>
                        <button class="btn btn-sm btn-outline-warning" disabled="disabled" *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Send'">เตรียมขนส่ง</button>
                        <button class="btn btn-sm btn-outline-primary" disabled="disabled" *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Transporting'">กำลังขนส่ง</button>
                        <button class="btn btn-sm btn-outline-success" disabled="disabled" *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Completed'">เสร็จสมบรูณ์แล้ว</button>
                    </div>
                    <div class="col-3 text-right">
                        <div *ngIf="userIsAuthenticated && userId === transaction.senderId && transaction.transactionStatus === 'Created'" class="mt-2">
                            <button
                              class="btn btn-sm btn-outline-success mr-1"
                              (click)="onSenderConfirm(transaction.id, transaction.senderId, transaction.transportorId, transaction.receiverId, 'Created')"
                              *ngIf="(userType === 'Storage Manager' || userType == 'DH Staff')">ยืนยัน
                            </button>
                            <a class="btn btn-sm btn-primary mr-1 " [routerLink]="['edit', transaction.id]" routerLinkActive="router-link-active">แก้ไข</a>
                            <button class="btn btn-sm btn-warning"  (click)="onDelete(transaction.id)">ลบ</button>
                        </div>
                        <div *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Send'" class="mt-2">
                          <button
                            class="btn btn-sm btn-outline-primary mr-1"
                            (click)="onTransportorConfirm(transaction.id, transaction.senderId, userId, transaction.receiverId, 'Send')"
                            *ngIf="userType === 'Transportor'">ยืนยัน
                          </button>
                        </div>
                        <div *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Transporting'" class="mt-2">
                          <button
                            class="btn btn-sm btn-outline-success mr-1"
                            (click)="onReceiverConfirm(transaction.id, transaction.senderId, transaction.transportorId, userId, 'Transporting')"
                            *ngIf="(userType === 'Storage Manager' || userType == 'DH Staff')">ยืนยัน
                          </button>
                        </div>
                        <div *ngIf="userIsAuthenticated && transaction.transactionStatus === 'Received'" class="mt-2">
                            <button class="btn btn-sm btn-outline-success" disabled="disabled">เสร็จสมบรูณ์แล้ว</button>
                        </div>
                    </div>
                  </div>
                </div>
                <ul class="list-group list-group-flush collapse" [id]="'p-'+transaction.id">
                  <li class="list-group-item">
                    <table class="table table-stripe">
                      <tr>
                        <td></td>
                        <td>รหัส SKU</td>
                        <td>ชื่อสินค้า</td>
                        <td>จำนวน</td>
                      </tr>
                      <tr *ngFor="let item of transaction.productLists">
                        <td>
                            <div class="transaction-image">
                              <img [src]="item.imagePath" [alt]="item.productSku" class="img-thumbnail" style="width:30%;">
                            </div>
                        </td>
                        <td>{{ item.productSku }}</td>
                        <td>{{ item.productName }}</td>
                        <td>{{ item.productQuantity}}</td>
                      </tr>
                    </table>
                  </li>
                </ul>
            </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalTransactions" [pageSize]="transactionsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="transactions.length > 0"></mat-paginator>


  <!-- <div>ต้องแก้ ไม่แสดงข้อความเตือนเมื่อผู้ใช้คนปัจจุบันไม่มีรายการส่งสินค้า </div> -->
  <div class="row" *ngIf="transactions.length <= 0 && !isLoading">
    <div class="col"><div class="text-center alert-warning mt-1 pt-5 pb-5">ไม่มีรายการสำหรับท่านในตอนนี้</div></div>
  </div>
