  <div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
  <div *ngIf="!isLoading">
    <div class="row mt-1" *ngFor="let transaction of transactions" >
      <div class="col-12">
          <div class="card round-0">
            <div class="card-header" data-toggle="collapse" [attr.data-target]="'#p-'+transaction.id" aria-expanded="false" [attr.aria-controls]="transaction.id">
              {{ transaction.id }}  ขนส่งจาก {{ transaction.departureStoreId }}  ไปยังสาขา {{ transaction.destinationStoreId }}
            </div>
            <ul class="list-group list-group-flush collapse" [id]="'p-'+transaction.id">
              <li class="list-group-item">
                <table class="table table-stripe row">
                    <tr *ngFor="let item of transaction.productLists">
                      <td>{{ item.productId }}</td>
                      <td>{{ item.productQuantity}}</td>
                    </tr>
                </table>
                <!-- <div class="transaction-image">
                  <img [src]="transaction.imagePath" [alt]="transaction.title" class="img-thumbnail">
                </div> -->
                <div class="row mt-3" *ngIf="userIsAuthenticated">
                  <div class="col-12">
                      <a class="btn btn-sm btn-primary mr-1" [routerLink]="['edit', transaction.id]" routerLinkActive="router-link-active">EDIT</a>
                      <button class="btn btn-sm btn-warning"  (click)="onDelete(transaction.id)">DELETE</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalTransactions" [pageSize]="transactionsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="transactions.length > 0"></mat-paginator>
  <div class="row" *ngIf="transactions.length <= 0 && !isLoading">
    <div class="col"><div class="text-center alert-warning mt-1 pt-5 pb-5">ไม่มีประเภทสินค้าอยู่ในระบบ</div></div>
  </div>



