  <div *ngIf="isLoading" class="text-center"><img src="../../../assets/spinner.gif"></div>
  <div *ngIf="!isLoading">
    <div class="row mt-1" *ngFor="let user of users" >
      <div class="col-12">
          <div class="card round-0">
            <div class="card-header" data-toggle="collapse" [attr.data-target]="'#p-'+user.id" aria-expanded="false" [attr.aria-controls]="user.id">
              {{ user.email }}
            </div>
            <ul class="list-group list-group-flush collapse" [id]="'p-'+user.id">
              <li class="list-group-item">
                <div class="row">
                    <div class="col-12"> {{ user.content }} </div>
                </div>
                <div class="row">
                  <div class="col-12"> {{ user.email }} </div>
                </div>
                <!-- <div class="row" *ngIf="userIsAuthenticated && userId == user.creator"> -->
                    <div class="row" *ngIf="userIsAuthenticated">
                  <div class="col-12 mt-3">
                      <a class="btn btn-sm btn-primary mr-1" [routerLink]="['/users/edit', user.id]" routerLinkActive="router-link-active">EDIT</a>
                      <button class="btn btn-sm btn-warning"  (click)="onDelete(user.id)">DELETE</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalUsers" [pageSize]="usersPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="users.length > 0"></mat-paginator>
  <div class="row" *ngIf="users.length <= 0 && !isLoading">
    <div class="col"><div class="text-center alert-warning mt-1 pt-5 pb-5">ไม่มีรายชื่อผู้ใช้ในระบบ</div></div>
  </div>



