<div class="row h-100 justify-content-center align-items-center">
  <input class="form-control col-12 col-lg-6" type="search" placeholder="ค้นหาสินค้า" #productSearchTxt id="productSearchTxt" (keyup)="onUpdateSearch($event)">
</div>

<div class="row h-100 justify-content-center align-items-center" >
  <table class="table table-stipe mt-3 ml-5 mr-5">
    <tr class="row" *ngFor="let product of products | filter:productSearchTxt.value:'productSku':'productName':'productName'">
          <td class="col-sm-2"></td>
          <td class="col-sm-2">SKU: {{ product.productSku }}</td>
          <td class="col-sm-3">{{ product.productName }}</td>
          <td class="col-sm-2 text-right">
            <input type="number" class="form-control mr-1" name="quantity" #quantityItem min="1" step="1" value="1" style="width:80%;">
          </td>
          <td class="col-sm-1 text-left">
            <button class="btn btn-sm btn-primary mr-1 pl-2 pr-2" (click)="onAddToTransaction(product.id, quantityItem.value, product)" *ngIf="(userType === 'Storage Manager' || userType == 'DH Staff')">Add</button>
          </td>
          <td class="col-sm-2"></td>
    </tr>
  </table>
</div>





